In [20]:
#load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #import Decision tree classifier
from sklearn.model_selection import train_test_split #Import train_test_split function
from sklearn import metrics #import scikit-learn metrics module for accuracy calculation

In [21]:
#Working with the dataset here

col_names = ['Company', 'Job', 'Degree', 'Salary_more_than_100K'] #load dataset
data = pd.read_csv("salaries.csv", header = None, names =col_names)

In [22]:
data

       Company                  Job      Degree  Salary_more_than_100K
0       google        sale exective  bachelaors                      0
1       google        sale exective     masters                      0
2       google     business manager  bachelaors                      1
3       google     business manager     masters                      1
4       google  computer programmer  bachelaors                      0
5       google  computer programmer     masters                      1
6   abc pharma        sale exective     masters                      0
7   abc pharma  computer programmer  bachelaors                      0
8   abc pharma     business manager  bachelaors                      0
9   abc pharma     business manager     masters                      1
10    facebook        sale exective  bachelaors                      1
11    facebook        sale exective     masters                      1
12    facebook     business manager  bachelaors                      1
13    facebook     business manager     masters                      1
14    facebook  computer programmer  bachelaors                      1
15    facebook  computer programmer     masters                      1

In [27]:
#Encoding Categorical Data
from sklearn import preprocessing
#Label_encoder object knows how to understand word labels
label_encoder = preprocessing.LabelEncoder()
#Encode labels in column
data['Company'] = label_encoder.fit_transform(data['Company'])
data['Job'] = label_encoder.fit_transform(data['Job'])
data['Degree'] = label_encoder.fit_transform(data['Degree'])
print(data.head())
#print(data)

   Company  Job  Degree  Salary_more_than_100K
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [28]:
#Split the dataset to features and target variabele
feature_cols = ['Company','Job', 'Degree']
x = data[feature_cols]
y = data['Salary_more_than_100K']
#x = data.values[1:,:3]
#y = data.values[1:,3] #1:,3 one means we are not using the header
#print('header')
print(x) 
print(y)

    Company  Job  Degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1
0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_than_100K, dtype: int64

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 100)

In [40]:
#Create Decision Tree classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion = 'entropy', max_depth = 3)

#Train Decision Tree Classifier
clf_entropy = clf_entropy.fit(x_train, y_train)

In [41]:
#predict the response for test dataset
y_pred = clf_entropy.predict(x_test)

print('Accuracy', metrics.accuracy_score(y_test, y_pred))

Accuracy 0.5